<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>🛒 My Cart</h2>

{% for item in cart_items %}
    <div>
        <p>
            {{ item.product.name }} –
            ₹{{ item.product.pet_price }} × {{ item.quantity }}
        </p>

        <a href="{% url 'removecart' item.pk %}">
            Remove
        </a>
    </div>
{% empty %}
    <p>Your cart is empty</p>
{% endfor %}

<hr>
<h3>Total: ₹{{ total_price }}</h3>

</body>
</html>