{%  load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{%   static 'addproduct.css' %}">
</head>
<body>
    <form action="../addproduct/" method="post" enctype="multipart/form-data">
{%csrf_token%}

<select name="category" id="">
<option value="" selected disabled> <---SELECT CATEGORY---></option>
<option value="Cat">Cat</option>
<option value="dog">dog</option>
<option value="bird">Bird</option>
<option value="rabbit">Rabbit</option>
<option value="fish">Fish</option>
</select><br>
<input type="text" name="name" id="" placeholder="name">
<input type="text" name="description" id="" placeholder="descriptin" required><br>
<input type="number" name="pet_price" id="" placeholder="enter price" required><br>
<input type="file" name="pet_image" id="" accept="/image*" required><br>
<input type="submit" value="submit">

</form>
</body>
</html>