{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link rel="stylesheet" href="{% static 'updateproduct.css' %}">
</head>
<body>

<div class="update-container">
    <h2>Update Product</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="name" value="{{ product.name }}" placeholder="Name">
        <input type="text" name="category" value="{{ product.category }}" placeholder="Category">
        <input type="text" name="description" value="{{ product.description }}" placeholder="Description">
        <input type="number" name="pet_price" value="{{ product.pet_price }}">
        <input type="file" name="pet_image">

        <input type="submit" value="Update">
    </form>
</div>

</body>
</html>
